body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

header {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.meta{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    font-family: 'Mooli', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#metalink{
    text-decoration: none;
    color: black;
}

.navbar{
    background-color: #103928;
    height: 150px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    align-content: baseline;
}

.whatsapp-icon {
    width: 250px;
    margin-left: 35px;
}
#whatsapplink{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 19px;

}

.started {
    width: 250px;
}

#signup {
    padding: 17px 40px;
    background-color: rgb(104, 206, 104);
    border-radius: 40px;
    color: rgb(31, 30, 30);
}

#signup:hover{
    background-color: rgb(55, 168, 55);
    transition: 1s;
}

.navbar>ul{
    display: flex;
    align-items: baseline;
    list-style-type: none;
}

.center-nav{
    width: 64%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar>ul>li>a, .started>a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px;
}

#language-icon, #icon-word  {
    vertical-align: middle;
}

#icon-wordEN{
    color: rgb(104, 206, 104);
    vertical-align: middle;
}

#expand_more{
    vertical-align: middle;
    color: white;
}

#hamburger-icon{
    display: none;
}

.material-symbols-outlined {
    color: rgb(104, 206, 104);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.lightblue{
    background-color: rgb(230, 238, 245);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    text-align: center;
    height: 30px;
    font-weight: 610;
    font-size: small;
}

#sign{
    color: rgb(32, 179, 228);
    font-size: small;
}

.section1{
    background-color: #103928;
    display: flex;
    height: 650px;
}

.transform{
    width: 50%;
    margin-left: 120px;
    margin-top: 80px;
}

#section1-transform{
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    color: rgb(104, 206, 104);
}

#section1-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    line-height: 1.5;
    word-spacing: 2px;
    margin-top: -15px;
}

#section1-link{
    margin-top: 70px;
}

#product-link:hover{
    background-color: rgb(55, 168, 55);
    transition: 1s;
}

#product-link{
    text-decoration: none;
    color: rgb(31, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid rgb(104, 206, 104);
    background-color: rgb(104, 206, 104);
    border-radius: 29px;
    padding: 20px 47px;
}

.phone{
    width: 50%;
}

.phone>img{
    height: 450px;
    margin-top: 100px;
    margin-left: 30px;
}

.section2{
    margin-top: 120px;
}

#section2-small-text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 94, 94);
    text-align: center;
    margin-bottom: 30px;
}

#section2-big-text{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 1150px;
    margin-left: 100px;
}

#underline{
    text-decoration: underline;
    text-decoration-color: rgb(104, 206, 104);
    text-underline-offset: 12px;
    text-decoration-thickness: 4px;
}

.section3{
    display: grid;
    grid-template-columns: repeat(2,49%);
    gap: 2%;
    flex-wrap: wrap;
    margin: 92px auto auto auto;
    width: 1100px;  
    justify-content: space-between;
    /* margin-top: 92px; */
}

.section3-left-content{
    border-radius: 22px;
    /* width: 545px; */
    height: 430px;
    /* height: fit-content; */
    padding: 90px 55px;
    /* margin-left: 120px; */
    box-shadow: 5px 5px 5px 5px rgb(202, 199, 199);
}

.section3-right-content{
    border: 1px solid rgb(202, 199, 199);
    border-radius: 22px;
    /* width: 500px; */
    height: 430px;
    /* height: fit-content; */
    padding: 90px 55px;
    box-shadow: 5px 5px 5px 5px rgb(221, 218, 218);
}

#icon{
    padding-right: 33px;
}

#section3-big-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(34, 33, 33);
}

#section3-small-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(99, 94, 94);
    line-height: 1.5;
}

#section3-icon-link{
    text-decoration: none;
}

.material-symbols-outlined {
    color: rgb(92, 168, 92);
    vertical-align: middle;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#get-link{
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 29, 29);
}

#section3-second-big-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(34, 33, 33);
}

#section3-second-small-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(99, 94, 94);
    line-height: 1.5;
}

.section4{
    background-color: #F1E9DE;
    margin-top: 160px;
    height: 600px;
    display: flex;
    justify-content: space-around;
}

.section4-left-content{
    margin-top: 120px; 
    margin-left: 120px;
}

.section4-right-content{
    margin-top: 40px;
    margin-right: 90px;
}

#section4-woman-image{
    width: 510px;
    height: 340px;
    border-radius: 22px;
}

#section4-big-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: rgb(37, 36, 36);
}

#section4-small-text1, #section4-small-text2, #section4-small-text3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    position: relative;
}

.section4-right-content-border{
    border-bottom: 1px solid  #d3cfcb;
}

#section4-small-text1, #section4-small-text3{
    width: 450px;
}

.section5{
    margin-top: 100px;
    margin-left: 130px;
}

#section5-small-text{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-weight: bolder;
   color: rgb(65, 63, 63); 
}

#section5-big-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rgb(22, 22, 22);
    width: 800px;
    margin-top: -10px;
}

.arrows-section{
    display: flex;
    justify-content: space-between;
}

.arrows-section-left-content{
    margin-left: 130px;
}

.arrows-section-right-content{
    margin-right: 130px;
}

#arrows-section-link{
    text-decoration: none;
}

#arrows-section-text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: black;
}

.section6{
    display: grid;
    grid-template-columns: auto;
    width: 750px;
    background-color: #D8F4CC;
    margin-top: 65px;
    border-radius: 22px;
    margin-left: 125px;
}

.section6>p{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    
}

.section6>img{
    width: 650px;
    height: 400px;
    border-radius: 22px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.section7{
    background-color: #103928;
    width: 1105px;
    height: 418px;
    border-radius: 22px;
    margin: 90px auto;
    text-align: center;
}

.section7>div{
    padding-top: 47px;
}

#section7-big-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 47px;
    color: rgb(104, 206, 104);
}

#section7-small-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}

#section7-learn-more-link{
    margin-top: 70px;
}

#learn-more-link{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 21px 47px;
    text-align: center;
    border: 1px solid rgb(104, 206, 104);
    background-color: rgb(104, 206, 104);
    border-radius: 35px;
}

#learn-more-link:hover{
    background-color: rgb(55, 168, 55);
    transition: 1s;
}

.section8{
    width: 100%;
    height: 155px;
    background-color: rgb(104, 206, 104);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: baseline;
}

#section8-whatsapp-business{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    vertical-align: middle;
}

.section8-center-list{
    list-style-type: none;
}

.section8-center-list>li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: inline-block;
    padding: 0 30px;
    vertical-align: top;
    width: 140px;
}

.section8-center-list>li>a{
    text-decoration: none;
    color: black;
}

.section8-copyright>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}



/* Code for Responsiveness */

/* @media screen and (max-width: 960px) {
    ul.center-nav {
        display: none;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
    }
} */

@media screen and (max-width: 960px) {

    ul .lists, .started {
        display: none;
    }

    #hamburger-icon{
        display: inline-block;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .language-icon{
        margin-right: -55px;
    }

    .whatsapp-icon{
        width: 60%;
        margin-left: 20px;
    }

    .lightblue{
        height: 40px;
        width: 100%;
    }

    .section1{
        display: flex;
        flex-wrap: wrap;
        height: 850px;
        width: 100%;
    }

    .transform{
        margin-left: 15px;
        width: 100%;
        margin-top: 18px;
    }

    #section1-transform{
        font-size: 32px;
    }

    .phone{
        margin-bottom: 480px;
        margin-top: -40px;
        margin-left: 18px;
    }

    .phone > img {
        width: 400px;
        height: auto;
    }

    .navbar{
        height: 80px;
        width: 100%;
    }

    .section2{
        margin-top: 70px;
        width: 100%;
    }

    #section2-big-text{
    font-size: 33.6px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 450px;
    margin-left: 0;
    margin-left: 40px;
    width: 80%;
}

#underline{
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
}

.section3{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section3-left-content{
    border-radius: 22px;
    /* width: 480px; */
    height: 320px;
    width: 95%;
    padding: 40px 30px;
    /* margin-left: 30px; */
    /* margin-top: -20px; */
}

#section3-big-text{
    font-size: 25px;
}

#section3-small-text{
    font-size: 17px;
    width: 400px;
}

.section3-right-content{
    border: 1px solid rgb(202, 199, 199);
    border-radius: 22px;
    /* width: 480px; */
    height: 320px;
    width: 95%;
    padding: 40px 30px;
    /* margin-left: 30px; */
    /* margin-top: 30px; */
}

#section3-second-big-text{
    font-size: 25px;
}

#section3-second-small-text{
    font-size: 17px;
}

.section4{
    margin-top: 80px;
    height: 840px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
}

.section4-left-content{
    margin-top: 90px; 
    margin-left: 30px;
}

#section4-woman-image{
    width: 95%;
    height: 320px;
    margin-top: -30px;
    margin-bottom: 36px;
}

.section4-right-content{
    margin-left: 30px;
    margin-top: -100px;
}

#section4-big-text{
    font-size: 35px;
    width: 400px;
}

.section4-right-content-border{
    width: 480px;
}

#section4-small-text1{
    font-size: 26.6px;
    width: 75%;
}

#section4-small-text3{
    font-size: 26.6px;
    width: 100%;
}

#section4-small-text2-crossicon{
    right: -20px;
    position: absolute;
}

#section4-small-text2{
    width: 475px;
    position: relative;
}

.section5{
    margin-top: 50px;
    margin-left: 30px;
    width: 100%;
}

#section5-big-text{
    font-size: 35px;
    width: 80%;
}

.arrows-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrows-section-left-content{
    margin-left: 30px;
}

.arrows-section-right-content{
    margin-right: 30px;
}

.section6{
    width: 90%;
    margin-left: 30px;
    height: 450px;
    margin-top: 50px;
}

.section6>p{
    font-size: 35px;
    margin-left: 30px;
    margin-top: 30px;
}

.section6>img{
    width: 80%;
    height: 300px;
    margin-left: 30px;
}

.section7{
    width: 90%;
    height: 330px;
    margin-left: 30px;
}

.section7>div{
    padding-top: 10px;
}

#section7-big-text{
    font-size: 37px;
}

#section7-small-text{
    width: 90%;
    margin-left: 30px;
    font-size: 18px;
    text-align: center;
}

.section8{
    width: 100%;
    height: 470px;
    background-color: rgb(104, 206, 104);
    margin-top: -30px;
    display: block;
    padding-top: 50px;
}

#section8-whatsapp-business{
    margin-left: 37px;
}

.section8-center-list>li{
    display: block;
    padding: 13px 0;
    width: 200px;
    margin-left: -15px;
}

.section8-copyright{
    margin-left: 24px;
}


    /* body{
        width: 600px;
    } */

}


